<html>
<body>
	<form action="login/formresult" method="post">
		<p> ENTER PASSWORD </p>
		<input type="text" name="password" />
		<br />
		<p> ENTER EMAIL </p>
		<input type="text" name="email" />
		<br />
		<button> Submit</button>
	</form>
</body>
</html>
