<html>
<body>
	<form action="message/formresult" method="post">
		<p> ENTER MESSAGE <p>
		<input type="text" name="message" />
		<br />
		<p> ENTER NAME </p>
		<input type="text" name="name" />
		<br />
		<p> ENTER EMAIL </p>
		<input type="text" name="email" />
		<br />
		<button> Submit</button>
	</form>
</body>
</html>
