<html>
<body>
	<form action="schedule/formresult" method="post">
		<p> ENTER DATE <p>
		<input type="text" name="date" />
		<br />
		<p> ENTER TIME </p>
		<input type="text" name="time" />
		<br />
		<p> ENTER EMAIL </p>
		<input type="text" name="email" />
		<br />
		<button> Submit</button>
	</form>
</body>
</html>
